{% extends "base.html" %}
{% block title %}
Products
{% endblock title %}
{% block body %}
<div class="container mt-3">
    <div class="row">
<div class="col-md-0">
</div>
<div class="col-md-12">
<div class="card-group">
    <div class="card">
      <img src="static/mens.png" class="card-img-top h-100" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mens</h5>
        <p class="card-text">
            Upgrade your wardrobe with timeless elegance – where sophistication meets style in every stitch.</p>
            <a href="/Products/Mens" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img src="static/womens.png" class="card-img-top h-100" alt="...">
      <div class="card-body">
        <h5 class="card-title">Womens</h5>
        <p class="card-text">Embrace the essence of femininity with our exquisite collection – where every piece tells a story of grace and allure.</p>
        <a href="/Products/Womens" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card">
      <img src="static/kids.webp" class="card-img-top h-100" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kids</h5>
        <p class="card-text">Nurture their sense of wonder with our delightful collection – where comfort meets creativity in every charming detail.</p>
        <a href="/Products/Kids" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="col-md-0">
</div>
</div>
</div>
{% endblock body %}